<div class="background-container">
  <div class="d-flex flex-column">
    <h5>Target Directory Path</h5>
    <div class="d-flex">
      <p class="path-display">{{ targetDirectoryPath }}</p>
    </div>
  </div>
  <div class="d-flex justify-content-around align-items-center">
    <button class="btn btn-warning" (click)="compress()" [disabled]="isProcessing">
      @if (isProcessing) {
        <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
        Processing...
      } @else {
        Compress and save selected
      }
    </button>
<!--      <app-progress-bar-->
<!--        [currentFile]="currentProgressEvent"-->
<!--      [totalFileCount]="files.length"-->
<!--      [completedFileCount]="completedFilesCount"-->
<!--      ></app-progress-bar>-->
  </div>
</div>
