<div class="app-background">
  <app-connection-form
    (passSuccessfulConnection)="catchConnectionSuccessful($event)">
  </app-connection-form>
  <div class="file-explorers-container">
    <app-file-explorer
      [serverPath]="sourceServerPath"
      [directoryType]="directoryTypeSource"
      [isConnectionSuccessful]="isConnectionSuccessful"
      [directoryTypeHeader]="directorySourceHeader"
      (passSelectedItems)="receiveFiles($event)">
    </app-file-explorer>
    <app-file-explorer
      [serverPath]="targetServerPath"
      [directoryType]="directoryTypeTarget"
      [directoryTypeHeader]="directoryTargetHeader"
      [isConnectionSuccessful]="isConnectionSuccessful"
      (passTargetDirectoryPath)="setNewTargetPath($event)"
    >
    </app-file-explorer>
  </div>
  <app-compress-bar
    [targetServerPath]="targetServerPath"
  [targetDirectoryPath]="compressionTargetPath"
  [files]="files"
  ></app-compress-bar>
  <router-outlet/>
</div>
