input {
  margin: 1em;
}

.btn {
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.path-display {
  height: 2.5em;
  width: 40vw;
  background-color: #FFFFFF;
  padding: 10px 15px;
  border-bottom: 1px solid #E0E0E0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
